.conteiner {
  width: 100px;
  height: 460px;
  background-color: grey;
  margin-top: 10%;

  .small_conteiner {
    width: 100px;
    height: 100px;
    background-color: red;
  }
}

.fast {
  background-color: black;
  color: #fff;
  padding: 18px 37px;
  cursor: pointer;
}
.slow {
  background-color: black;
  color: #fff;
  padding: 18px 37px;
  cursor: pointer;
}
